.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.positioned {
  position: relative;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.noWrap {
  white-space: nowrap;
}
.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.sc-tr {
  display: table !important;
  table-layout: fixed;
  height: 100%;
  position: relative;
}
.sc-tr > div {
  display: table-row !important;
  position: relative;
}
.sc-tr > div.fillSpace {
  height: 100% !important;
}
.sc-tc {
  display: table;
}
.sc-tc > div {
  display: table-cell;
}
.sc-tc100 {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.sc-tc100 > div {
  display: table-cell;
}
.fix-tr {
  position: relative;
  display: block;
  height: 100%;
}
.fix-tc {
  position: relative;
  display: block;
}
.noScroll {
  overflow: hidden;
}
.noTapHighlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'kleyicons';
  src: url('../fonts/kleyicons.eot');
  src: url('../fonts/kleyicons.eot') format('embedded-opentype'), url('../fonts/kleyicons.woff') format('woff'), url('../fonts/kleyicons.ttf') format('truetype'), url('../fonts/kleyicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icn {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icn:before,
.icn:after {
  position: relative;
  font-family: 'kleyicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
}
a.icn {
  text-decoration: none;
  color: inherit;
}
.iArrowLeft:before {
  content: "\e600";
}
.iArrowRight:before {
  content: "\e601";
}
.iMagnifier:before {
  content: "\e602";
}
.iNext:before {
  content: "\e603";
}
.iPrev:before {
  content: "\e604";
}
.iPin:before {
  content: "\e605";
}
.iSmallNext:before {
  content: "\e606";
}
.iSmallPrev:before {
  content: "\e607";
}
/**
 * @license
 * MyFonts Webfont Build ID 2893972, 2014-10-02T06:54:11-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: OptimaLTPro-Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/pro-roman/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 2008 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reproduced, 
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2893972
 * 
 * © 2014 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'OptimaLTPro-Roman';
  src: url('../fonts/2C2894_0_0.eot');
  src: url('../fonts/2C2894_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2C2894_0_0.woff') format('woff'), url('../fonts/2C2894_0_0.ttf') format('truetype');
}
p,
a,
li {
  margin: 0;
  line-height: 1.5;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 13px;
}
@media only screen and (min-width: 450px) {
  p,
  a,
  li {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1000px) {
  p,
  a,
  li {
    font-size: 16px;
  }
}
p a {
  text-decoration: underline;
}
a {
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a.internalLink,
a.externalLink {
  text-decoration: underline;
  color: #005a85;
  display: block;
  padding: 10px 0 0 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.internalLink:before,
a.externalLink:before,
a.internalLink:after,
a.externalLink:after {
  position: relative;
  font-family: 'kleyicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
}
a.internalLink:before,
a.externalLink:before {
  content: "\e601";
}
a.internalLink:before,
a.externalLink:before {
  position: absolute;
  left: 0;
  top: 9px;
  vertical-align: baseline;
  font-size: 20px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  margin: 0;
  display: inline-block;
  font-weight: normal;
  color: #005a85;
  text-rendering: optimizelegibility;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
h3 {
  color: #999999;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 13px;
}
@media only screen and (min-width: 450px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 16px;
  }
}
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  line-height: 1.5;
}
.divider {
  height: 10px;
}
html,
body {
  font-family: "OptimaLTPro-Roman", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #999999;
  -webkit-text-size-adjust: none;
  min-width: 320px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
}
section {
  padding: 50px 25px 0;
}
section:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 50px;
  background: #005a85;
}
@media only screen and (min-width: 750px) {
  section {
    padding: 50px 40px 0;
  }
}
@media only screen and (min-width: 1000px) {
  section {
    padding: 50px 50px 0;
  }
}
.separator:after {
  content: "";
  display: block;
  background: #005a85;
  height: 6px;
  width: 50px;
}
.separatorWhite:after {
  content: "";
  display: block;
  background: #ffffff;
  height: 6px;
  width: 50px;
}
#header {
  height: 50px;
  padding: 20px 25px;
}
#header:after {
  display: none;
}
#headerLogo {
  background: url('../images/logo_mobile_@2x.png') no-repeat top left;
  background-size: contain;
  width: 100%;
  height: 45px;
}
#toNav div > div {
  position: relative;
  z-index: 101;
  height: 3px;
  width: 35px;
  background: #c9c9c9;
  margin: 6px 0;
}
.headerLogoMenue {
  background: url('../images/logo_tablet_@2x.png') no-repeat top left;
  background-size: contain;
  width: 100%;
  height: 50px;
}
@media only screen and (min-width: 1000px) {
  .headerLogoMenue {
    margin-top: 25px;
  }
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  height: 62px;
  background: #f8f8f8 url("../images/logo_icon.png") no-repeat left center;
}
.sticky:before {
  border: 0;
}
.sticky p {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 19px;
  display: block;
}
.sticky .stickyMenuFirstDiv {
  position: absolute;
  top: 14px;
  right: 20px;
  cursor: pointer;
}
.sticky .stickyMenuFirstDiv div {
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
.sticky .stickyMenuFirstDiv:active div {
  background: #005a85;
}
.normalMenu {
  position: absolute;
  z-index: 100;
  right: 0px;
  top: 0px;
  padding: 18px 25px 40px 40px;
  overflow: hidden;
}
.normalMenu p {
  display: none;
}
.normalMenu:before {
  content: "";
  position: absolute;
  z-index: 100;
  width: 160px;
  height: 160px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  top: -75px;
  left: 0px;
  background: #f8f8f8;
}
.pagination {
  position: relative;
  margin-bottom: 30px;
  height: 15px;
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.pagination:before {
  content: "";
  position: absolute;
  top: 6px;
  z-index: 1;
  display: block;
  background: #e7e7e7;
  height: 1px;
  width: 94%;
  left: 3%;
}
.pagination div {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  text-align: center;
}
.pagination div:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
}
.pagination div.direct {
  flex-grow: 2;
}
.pagination div.direct:before {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  background: #ffffff;
  border: 3px solid #e7e7e7;
}
.pagination div.direct.active:before {
  background: #005a85;
  border-color: #005a85;
}
.pagination div.prev,
.pagination div.next {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e7e7e7;
}
.pagination div.prev:before,
.pagination div.next:before,
.pagination div.prev:after,
.pagination div.next:after {
  position: relative;
  font-family: 'kleyicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
}
.pagination div.prev:hover,
.pagination div.next:hover,
.pagination div.prev:active,
.pagination div.next:active {
  color: #005a85;
}
.pagination div.prev:before,
.pagination div.next:before {
  display: inline-block;
  width: 100%;
}
.pagination div.prev:before {
  content: "\e607";
}
.pagination div.prev:before {
  text-align: left;
}
.pagination div.next:before {
  content: "\e606";
}
.pagination div.next:before {
  text-align: right;
}
header {
  margin-bottom: 50px;
}
header h3 {
  margin-top: 15px;
}
header.separateAfter {
  margin-bottom: 30px;
}
header.separateAfter:after {
  content: "";
  display: block;
  background: #005a85;
  height: 6px;
  width: 50px;
}
header.separateAfter:after {
  margin-top: 25px;
}
header.separateAfterWhite {
  margin-bottom: 30px;
}
header.separateAfterWhite:after {
  content: "";
  display: block;
  background: #ffffff;
  height: 6px;
  width: 50px;
}
header.separateAfterWhite:after {
  margin-top: 25px;
}
article img {
  background: #c9c9c9;
  margin-bottom: 20px;
}
article img.full {
  width: 100%;
}
.previewGallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}
.previewGallery .sectionNormalImage {
  width: 100%;
}
.previewGallery .sectionPanoramaImage {
  width: 100%;
}
.preview {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 7px 14px;
}
.preview .previewImage {
  position: relative;
  height: 200px;
  background: #f8f8f8;
}
.preview.small {
  width: 50%;
}
.preview.big {
  width: 100%;
}
.preview.full {
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .preview.small {
    width: 33%;
  }
}
#start {
  padding-top: 30px;
}
#methods .preview .previewImage:after {
  content: "";
  display: block;
  background: #005a85;
  height: 6px;
  width: 50px;
}
#methods .preview .previewImage:after {
  position: absolute;
  bottom: 0;
  left: 0;
}
#methods .preview h4 {
  margin: 10px 0 6px;
}
#methods:after {
  margin-top: 36px;
}
.teamMemberPreview {
  display: flex;
  margin-bottom: 50px;
}
.teamMemberPreviewImage {
  background: #f8f8f8;
  width: 45%;
}
.teamMemberPreviewText {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 55%;
  padding-left: 15px;
}
.teamMemberPreviewText header {
  margin-bottom: 20px;
}
.teamMemberPreviewText header:after {
  margin-top: 15px;
}
@media only screen and (min-width: 1000px) {
  .teamMemberPreviewText {
    padding-left: 30px;
  }
}
#praxis {
  padding-bottom: 11px;
}
#praxis:after {
  display: none;
}
@media only screen and (min-width: 1000px) {
  #praxis {
    padding-bottom: 80px;
  }
}
#footer {
  background: #005a85;
  color: #ffffff;
  padding: 30px 25px;
  clear: both;
}
#footer h1,
#footer h2,
#footer h3,
#footer h4 {
  color: #ffffff;
}
#footer header:after {
  background: #ffffff;
}
@media only screen and (min-width: 750px) {
  #footer {
    padding: 30px 40px;
  }
}
#footer .telContact h1 {
  margin: 15px 0 35px;
}
@media only screen and (min-width: 750px) {
  #footer .telContact {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 750px) {
  #footer .footerContent {
    display: flex;
    padding-top: 8px;
  }
}
#footer .openingHoursContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@media only screen and (min-width: 750px) {
  #footer .openingHoursContainer {
    display: block;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1000px) {
  #footer .openingHours h2 {
    font-size: 20px;
  }
}
#footer .openingHoursBlock {
  padding: 15px 15px 0;
  flex-grow: 1;
}
#footer .openingHoursBlock h2 {
  white-space: nowrap;
  margin: 5px 0 0;
}
@media only screen and (min-width: 1000px) {
  #footer .openingHoursBlock p {
    display: inline;
    font-size: 13px;
  }
  #footer .openingHoursBlock h2 {
    line-height: 13px;
    margin-left: 10px;
    float: right;
  }
}
@media only screen and (min-width: 1000px) {
  #footer {
    padding: 60px 60px 20px;
  }
}
#map {
  height: 400px;
}
.mapIcon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.mapIcon:before,
.mapIcon:after {
  position: relative;
  font-family: 'kleyicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
}
.mapIcon:before {
  content: "\e605";
}
.mapIcon:before {
  font-size: 70px;
  color: #005a85;
}
.leaflet-popup-content-wrapper {
  background: #005a85;
  border-radius: none;
}
.leaflet-popup-tip {
  border-top-color: #005a85;
}
.leaflet-popup-content {
  padding: 10px 10px 10px;
  font-family: "OptimaLTPro-Roman", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
}
/*@media only screen and (max-width : 351px) {
	#footer .telContact h1 { font-size: 35px; }
}*/
.back {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5px 10px 7px;
  color: #999999;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.back:before,
.back:after {
  position: relative;
  font-family: 'kleyicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
}
.back:before {
  content: "\e600";
}
.back:before {
  margin-right: 5px;
  top: 3px;
  font-size: 16px;
}
.back:active {
  color: #005a85;
}
.detail {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #ffffff;
}
.detailContent {
  padding: 25px;
}
.detailPreview {
  width: 100%;
  background: #f8f8f8;
}
#fullscreenNavigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f8f8f8;
  z-index: 9999;
  overflow: auto;
}
#fullscreenNavigationFooter {
  background-color: #005a85;
  color: #ffffff;
  line-height: 18px;
}
#fullscreenNavigationFooter #fullscreenNavigationFooterLeft {
  display: table-cell;
  padding: 20px 20px 20px 20px;
}
#fullscreenNavigationFooter #fullscreenNavigationFooterLeft a {
  text-decoration: underline;
}
#fullscreenNavigationFooter .dividerNavFooter {
  height: 22px;
}
#fullscreenNavigationWrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
#fullscreenNavigationWrapper > div {
  display: table-row;
  position: relative;
}
#closeMenu {
  position: absolute !important;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#closeMenu:before,
#closeMenu:after {
  content: "";
  height: 3px;
  width: 25px;
  background: #c9c9c9;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
#closeMenu:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#closeMenu:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#closeMenu:active:before,
#closeMenu:active:after {
  background: #005a85;
}
#fullscreenNavigationSections {
  height: 100%;
  color: #b3b3b3;
}
#fullscreenNavigationSectionsWrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  padding: 25px 50px;
}
#fullscreenNavigationSectionsWrapper > div {
  display: table-row;
  font-size: 32px;
}
#fullscreenNavigationSectionsWrapper > div > a {
  font-size: inherit !important;
  display: table-cell;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
#fullscreenNavigationSectionsWrapper > div > a:active {
  color: #005a85;
}
#fullscreenNavigationSectionsWrapper ul {
  list-style-type: none;
}
#fullscreenNavigationSectionsWrapper ul a {
  font-size: 24px;
}
#fullscreenNavigationSectionsWrapper ul a:hover {
  color: #005a85;
}
#fullscreenNavigationSectionsWrapper ul .active {
  color: #005a85;
}
#fullscreenNavigationSectionsWrapper ul li {
  line-height: 3;
}
#fullscreenNavigationContact {
  height: 150px;
}
#fullscreenNavigationContactWrapper {
  height: 100%;
  background: #005a85;
}
.methodsDetailHints,
.teamDetailVita {
  position: relative;
  padding: 0 25px 25px;
}
.methodsDetailHints header,
.teamDetailVita header {
  padding: 25px 0;
  margin: 0;
  border-top: 1px solid #e7e7e7;
}
.methodsDetailHints header h4,
.teamDetailVita header h4 {
  color: #999999;
}
.methodsDetailPreview {
  height: 40%;
}
.methodsDetailHints ul {
  list-style-type: none;
  position: relative;
}
.methodsDetailHints ul li {
  position: relative;
  padding: 0 0 0 20px;
  margin-bottom: 20px;
}
.methodsDetailHints ul li:before {
  content: "\2014";
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1px;
}
.teamDetailPreview {
  height: 60%;
}
.teamDetailVitaContent {
  position: relative;
  padding: 25px 0;
}
.teamDetailVitaContent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  bottom: 0;
  width: 1px;
  background: #e7e7e7;
}
.teamDetailVitaStep {
  position: relative;
  padding: 0 20px 0;
  margin-bottom: 40px;
}
.teamDetailVitaStep:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  border: 3px solid #005a85;
  background: #ffffff;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.teamDetailVitaStep h5 {
  padding-bottom: 5px;
}
.praxisDetail {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.praxisDetail > div {
  display: table-row;
}
.praxisDetailPreview {
  height: 100%;
  position: relative;
  background: #f8f8f8;
}
.praxisDetailPreview .praxisDetailPreviewImage {
  height: 100%;
}
.praxisDetailContentInnerWrapper {
  display: table;
  table-layout: fixed;
  padding: 15px 0;
  width: 100%;
}
.praxisDetailContentInnerWrapper > div {
  display: table-cell;
}
.praxisDetailContentInnerWrapper .praxisDetailPrev,
.praxisDetailContentInnerWrapper .praxisDetailNext {
  width: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
}
.praxisDetailContentInnerWrapper .praxisDetailPrev:before,
.praxisDetailContentInnerWrapper .praxisDetailNext:before,
.praxisDetailContentInnerWrapper .praxisDetailPrev:after,
.praxisDetailContentInnerWrapper .praxisDetailNext:after {
  position: relative;
  font-family: 'kleyicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
}
.praxisDetailContentInnerWrapper .praxisDetailPrev:before,
.praxisDetailContentInnerWrapper .praxisDetailNext:before {
  font-size: 18px;
}
.praxisDetailContentInnerWrapper .praxisDetailPrev:before {
  content: "\e604";
}
.praxisDetailContentInnerWrapper .praxisDetailNext:before {
  content: "\e603";
}
.detailPreview .overlayMainImage {
  height: 100%;
}
.previewImage .previewSectionImage {
  width: 100%;
  height: 100%;
}
#menue {
  height: 100%;
  width: 25%;
  position: fixed;
  right: 0;
  border-left: 1px solid #e7e7e7;
  padding-top: 30px;
}
#menue:after {
  display: none;
}
@media only screen and (min-width: 1000px) {
  width: 18%;
}
#toNavTablet {
  position: absolute;
  z-index: 100;
  padding: 18px 25px 30px 5px;
  overflow: hidden;
  top: 15%;
  /*&:before {
		content: "";
		position: absolute;
		z-index: 100;
		.square(160px);
		.circle;
		top: -75px;
		left: 0px;
		background: @grayF8;
	}*/
}
#toNavTablet div {
  position: relative;
  z-index: 101;
  height: 3px;
  width: 35px;
  background: #c9c9c9;
  margin: 6px 0;
}
#toNavTablet ul {
  list-style-type: none;
}
#toNavTablet ul a {
  font-size: 24px;
}
#toNavTablet ul a:hover {
  color: #005a85;
}
#toNavTablet ul .active {
  color: #005a85;
}
#toNavTablet ul li {
  line-height: 3;
}
@media only screen and (min-width: 1000px) {
  #toNavTablet {
    padding: 50px 25px 30px 5px;
  }
}
#headerAdresse {
  bottom: 50px;
  position: absolute;
}
@media only screen and (max-height: 580px) {
  #headerAdresse {
    display: none;
  }
}
@media only screen and (max-height: 700px) {
  #headerAdresse p:first-child {
    display: none;
  }
}
#headerAdresse p {
  color: #005a85;
  line-height: 1.3;
}
#headerAdresse a {
  color: #999999;
  text-decoration: underline;
}
@media only screen and (min-width: 1000px) {
  #headerAdresse {
    bottom: 80px;
  }
}
.sectionStartDiv .sectionStartImage {
  width: 100%;
  height: 150px;
}
.sectionStartDiv .sectionStartText {
  width: 100%;
  padding-top: 25px;
}
@media only screen and (min-width: 1000px) {
  .sectionStartDiv {
    display: flex;
  }
  .sectionStartDiv .sectionStartImage {
    width: 40%;
    height: auto;
  }
  .sectionStartDiv .sectionStartText {
    width: 60%;
    padding-top: 0px;
    padding-left: 45px;
  }
}
@media only screen and (max-width: 749px) {
  .mobile-hidden {
    display: none;
  }
  .tablet-only {
    display: none;
  }
}
@media only screen and (min-width: 750px) {
  .mobile-only {
    display: none;
  }
  #wrapperNormal {
    float: left;
    width: 65%;
  }
}
@media only screen and (min-width: 750px) and only screen and (min-width: 1000px) {
  #wrapperNormal {
    width: 75%;
  }
}
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.overlay .overlay-close {
  border: none;
  outline: none;
  z-index: 100;
  position: absolute;
}
/* Effects */
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
